* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.company-section {
  text-align: start;
  padding: 4rem 10%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;

}

.company-section h2 {
  font-size: 1.25rem;
  font-weight: 700;
  color: #111;
  margin-bottom: 2rem;
  max-width: 65%;
  padding: 2rem;
}

.logo-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 5%;
  padding-left: 2rem;
}

.company-logo {
  width: 10%;
  height: auto;
  object-fit: contain;
  aspect-ratio: 3/2;
  transition: transform 0.3s ease;
}

.company-logo:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .company-section {
    padding: 2rem 1.5rem;
  }

  .company-section h2 {
    font-size: 1.1rem;
    max-width: 85%;
    padding: 1rem 0;
    margin-bottom: 1.5rem;
  }

  .logo-grid {
    gap: 2rem;
    padding-left: 0;
    justify-content: center;
  }

  .company-logo {
    width: 12%; 
  }
}

